.main-body {
  text-align: center;
  width: 871px;
  margin: 0 auto; /* Center the content on the page */
}

.heading {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  text-align: center;
  font-weight: 700;
  line-height: 45px;
  font-size: 36px;
  padding: 20px 0;
}

.heading-highlight {
  color: rgb(1, 144, 222);
}

.lander-img-container {
  padding: 20px 0;
}

.lander-img {
  border: 3px solid black;
  width: 728px;
  height: 410px;
}

.watch-button {
  width: 100%;

  background-color: rgb(21, 95, 247);
  color: white; /* White text for the button */
  padding: 15px 0; /* Add padding for visual appeal */
  margin-bottom: 20px;
  text-align: center; /* Center the text within the button */
  border-radius: 5px; /* Round the corners slightly */
  box-sizing: border-box;
  text-decoration: none; /* Remove underline from text */
  display: inline-block; /* Ensure button behaves like a button */
  font-weight: 400;
  text-decoration: none;
  font-family: 'Yantramanav', sans-serif;
  line-height: 25px;
  font-size: 25px;
}

pre b {
  font-weight: bold; /* Apply bold style to text inside strong tags */
}

.paragraph pre {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 23px;
  font-size: 19px;
  padding-left: 10px; /*somehow need padding to make text looked centered*/
  white-space: pre-wrap;
}

.copyright-txt {
  width: 100%;
  padding-top: 20px;
  /*-webkit-text-size-adjust: 100%;*/
  /*white-space: pre-wrap;*/
  word-wrap: break-word;
  letter-spacing: 0em;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 20px;
  font-size: 14px;
  color: rgb(91, 90, 90);
  font-weight: 700;
  font-family: 'Yantramanav', sans-serif;
}

.disclaimer-txt {
  letter-spacing: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
  line-height: 20px;
  font-size: 14px;
  color: rgb(91, 90, 90);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

footer {
  background-color: rgb(240, 242, 244); /* Set background color */
  width: 100%; /* Expand background to full width */
  position: relative; /* Allow for positioning of inner content */
}

footer > * { /* Target all direct children of the footer */
  max-width: 900px; /* Maintain existing content width */
  margin: 0 auto; /* Center content within footer */
  padding: 10px; /* Add padding for visual spacing */
}

.tnc {
  /*todo bold*/
  display: flex;
  justify-content: flex-end;
  font-family: sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  left: 0;
  height: 88px;
  padding: 10px;
  width: 871px;
  margin: 0 auto; /* Center the content on the page */
  gap: 50px;
}

.tnc-link {
  padding-top: 20px;
  color: black;
}

#loadingSpinner {
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;

  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: none;
  z-index: 1000; /* Ensure it's above other content */
}
